In [164]:
# main libraries
import pandas as pd
from matplotlib import pyplot as py # try to use seaborn instead... 

# alternative libraries
import numpy as np # alternative to pandas
import seaborn as sns # (recommended) alternative to matplotlib

# other
# import os
import statistics # statistical functions
import re
# import random 
# import itertools
# import math 
# from sklearn import # machine learning library

'''
Sections:
-Libraries
-EDA
-Cleaning
-Data Manipulation
-Visualisation

# Casey's source for EDA: https://github.com/caseynator123/EDP_assigment2/blob/main/eda/eda.ipynb
'''

"\nSections:\n-Libraries\n-EDA\n-Cleaning\n-Data Manipulation\n-Visualisation\n\n# Casey's source for EDA: https://github.com/caseynator123/EDP_assigment2/blob/main/eda/eda.ipynb\n"

# Early Data Exploration

In [165]:
# read in data
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

data = pd.read_csv(url, sep="\t")

In [166]:
# numerical EDA stage 1
data.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [167]:
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# DATA CLEANING

In [168]:
# Errors to look out for... range errors, NaN values (Done), format errors

# NaN values
data.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [169]:
# https://stackoverflow.com/questions/32464280/how-to-convert-currency-column-with-and-to-numbers
# format errors (could automate this by using regex to search for all non numerical/decimal point symbols...)

#use regex to check for formatting
#i.e., from Casey: books[~books["ISBN"].str.match(r"^(?=(?:\D*\d){9,10})|\d{9}X")]

print(data.dtypes)
data["item_numerical_price"] = data["item_price"].replace(r'[\$]','', regex=True).astype(float)
data["item_numerical_price"]

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_numerical_price, Length: 4622, dtype: float64

In [170]:
# range errors... (i.e., price 1000)?

In [171]:
# inconsistency errors (i.e., unit price 1, quantity 2, total price 3)?

In [172]:
# duplication errors? only on primary keys or candidate keys if not all columns
# data[data["order_id"].duplicated()] (turns out order_id is not the primary key)\
data.loc[data.duplicated()]

,order_id,quantity,item_name,choice_description,item_price,item_numerical_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75
248,108,1,Canned Soda,[Mountain Dew],$1.09,1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",$11.75,11.75
381,165,1,Canned Soft Drink,[Coke],$1.25,1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
567,233,1,Canned Soft Drink,[Diet Coke],$1.25,1.25
617,254,1,Chips,NaN,$2.15,2.15
684,282,1,Canned Soft Drink,[Coke],$1.25,1.25
773,319,1,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), Black B...",$8.49,8.49
908,376,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",$8.99,8.99
924,381,1,Chicken Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), Cheese]",$8.49,8.49
1003,412,1,Bottled Water,NaN,$1.50,1.50
1117,462,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25,11.25
1203,491,1,Chicken Burrito,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",$8.75,8.75
1245,507,1,Canned Soft Drink,[Lemonade],$1.25,1.25
1381,561,1,Canned Soft Drink,[Coke],$1.25,1.25
1410,573,1,Bottled Water,NaN,$1.50,1.50
1420,576,1,Barbacoa Bowl,[Roasted Chili Corn Salsa],$9.25,9.25
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39,9.39
1502,610,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1534,624,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39
1548,628,1,Chips and Guacamole,NaN,$4.45,4.45
1612,651,1,Izze,[Blackberry],$3.39,3.39
1791,724,1,Canned Soft Drink,[Coke],$1.25,1.25
1792,724,1,Canned Soft Drink,[Coke],$1.25,1.25
2078,838,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",$8.75,8.75
2127,856,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25,11.25
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
2362,940,1,Canned Soft Drink,[Coke],$1.25,1.25
2448,972,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
2553,1011,1,Canned Soft Drink,[Coke],$1.25,1.25
2554,1011,1,Canned Soft Drink,[Coke],$1.25,1.25
2560,1013,1,Chips and Guacamole,NaN,$4.45,4.45
2576,1020,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95
2662,1057,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
2708,1074,1,Chips,NaN,$2.15,2.15
2717,1078,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25,11.25
2833,1125,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75,8.75
2881,1144,1,Bottled Water,NaN,$1.50,1.50
2973,1182,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Black...",$8.49,8.49
2977,1184,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.25,9.25
3121,1244,1,Chips and Guacamole,NaN,$4.45,4.45
3430,1377,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95
3637,1454,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, Rice]",$8.75,8.75
3716,1484,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3764,1507,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
3829,1534,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75,8.75
3924,1574,1,Bottled Water,NaN,$1.50,1.50
4112,1647,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
4155,1660,1,Chips and Guacamole,NaN,$4.45,4.45
4236,1691,1,Chicken Bowl,[White Rice],$8.50,8.50
4266,1701,1,Chips,NaN,$2.15,2.15
4372,1745,1,Chips and Guacamole,NaN,$4.45,4.45
4463,1778,1,Canned Soft Drink,[Lemonade],$1.25,1.25
4479,1785,1,Bottled Water,NaN,$1.50,1.50
4544,1806,1,Bottled Water,NaN,$1.50,1.50
4570,1817,1,Bottled Water,NaN,$1.50,1.50
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,9.25

# Data Manipulation

In [183]:
# sorting?
# biggest?
# smallest?
# counting?
# mean, median, mode, sum etc.?
# indexing, using .at, .loc etc. 
# group by?

data["quantity"].max()
data["quantity"].min()
data["quantity"].mean()
data["quantity"].median()
data["quantity"].mode()
data["quantity"].count()
data["quantity"].std()

data["quantity"].value_counts() # This gives the distribution of quantity, so highly useful

quantity
1     4355
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: count, dtype: int64

In [174]:
# sorting
data.sort_values(by="quantity", ascending=False)

,order_id,quantity,item_name,choice_description,item_price,item_numerical_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
4152,1660,10,Bottled Water,NaN,$15.00,15.00
3887,1559,8,Side of Chips,NaN,$13.52,13.52
3599,1443,7,Bottled Water,NaN,$10.50,10.50
2441,970,5,Bottled Water,NaN,$7.50,7.50
...,...,...,...,...,...,...
1592,645,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1593,645,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95
1594,646,1,Carnitas Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25,9.25
1595,646,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25,11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [175]:
# group by 
data.groupby(by="item_name")

#typically with .sum() at the end (ALWAYS NEEDS AN AGGREGATE FUNCTION TO PAIR)
#.counts() counts all non-null entities (WORKS WONDERS WITH GROUP BY)
#.value_counts() returns series for the count of each unique entity (AVOID???) (DOESN'T WORK WITH SORTING)
#source: https://stackoverflow.com/questions/55494028/when-to-use-count-and-value-counts-in-pandas

data.groupby(by="item_name").count().sort_values(by="order_id", ascending=False).head(1)

,order_id,quantity,choice_description,item_price,item_numerical_price
item_name,,,,,
Chicken Bowl,726,726,726,726,726

# Visualisation